body {
  font-size: 20px;
  font-family: monospace;
  background:#ffffff url("/images/space-background-with-stars-vector-illustration_97886-319.jpg") repeat right top;
  color: #fff;
}

div {
  margin:30px auto;
}


#movieLogo {
  width: 500px;
  margin: 0 auto;
}

#movieLogo img {
  width: 500px;
  height: 300px;
}

#planet-api-data {
  color: #000; 
  font-size: 15px; 
}

#caption {
  text-align: center;
}

img.pic {
  width: 300px;
  height: 200px;
  border: 2px solid #000;
  margin: 20px;
}

#thumbs {
  /* border:2px solid red; */
  width: 1100px;
}

img.pic {
  border:3px solid transparent;
}

img.pic:hover {
  border:3px solid #fff;
}

#planet-facts {  
  border: 2px solid green;
}

#image-caption {
  /* border:2px solid orange; */
  width: 600px;
}

#quotes {  
  width: 500px;
  /* border: 2px solid pink; */
  
}

#globe {
 border: 2px solid blue;
 width: 800px;
 margin-bottom: 0;
}

#globe img {
 width: 100px;
 height: 100px;
}

#globe .climate-population {
  border:2px solid #fff;
  font-size:22px;
}

#planet-name {
  font-size:80px;
}

#globe ul {
    color: rgb(255, 255, 255);
    padding-right: 125px;
    /* padding-top: 25px; */
}

#globe li {
  list-style-type: none;
}

.climatePopulation {
  font-size:25px;
}

#film-data {
  border:2px solid fuchsia;
}