body {
  font-size: 20px;
  font-family: monospace;
}

div {
  margin:30px auto;
}

#planet-api-data {
  color:fuchsia; 
  font-size: 15px; 
}

#caption {
  text-align: center;
}

img.pic {
  width: 300px;
  height: 200px;
  border: 2px solid #000;
  margin: 20px;
}

#thumbs {
  border:2px solid red;
  width: 1060px;
}

#planet-facts {  
  border: 2px solid green;
}

#image-caption {
  border:2px solid orange;
}

#quotes {  
  width: 500px;
  border: 2px solid pink;
  
}

#globe {
 border: 2px solid blue;
}

#globe img {
 width: 100px;
 height: 100px;
 float: left;
}

#film-data {
  border:2px solid fuchsia;
}