body {
  font-size: 20px;
  font-family: monospace;
  background:#000 url("/images/spacebg.jpg") repeat right top;
  color: #fff;
}
/* 
div {
  margin:30px auto;
} */


#movieLogo {
  width: 500px;
  margin: 0 auto;
}

#movieLogo img {
  width: 430px;
  height: 300px;
}

#planet-api-data {
  color: #000; 
  font-size: 15px; 

}

#caption {
  text-align: center;
}

img.pic {
  width: 300px;
  height: 200px;
  border: 2px solid #000;
  margin: 20px;
}

#thumbs {
  /* border:2px solid red; */
  width: 1100px;
  margin-bottom: 20px;
  margin-left:auto;
  margin-right: auto;
}

img.pic {
  border:3px solid transparent;
}

img.pic:hover {
  border:3px solid #fff;
}

#planet-facts {  
  border: 2px solid green;
}

#image-caption {
  /* border:2px solid orange; */
  width: 800px;
  margin-top: 20px;
}

#quotes {  
  text-align: center;
  width: 1000px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;  
}

#globe {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right:auto;
  margin-left:auto;
}

#globe img {
 width: 100px;
 height: 100px;
}

#globe .climate-population {
  /* border:2px solid #fff; */
  font-size:22px;
}

span#planet-name {
  font-size:80px;
  padding-left:30px;
}

#globe ul {
    color: rgb(255, 255, 255);
    padding-right: 125px;
    margin-top: 0;
}

#globe li {
  list-style-type: none;
}

.climatePopulation {
  font-size:25px;
}


#planet-api-data span {
  color:yellow;
}

#film-data {
  border:2px solid fuchsia;
}

#quotes-tagline {
  margin-top: 70px;
  text-align: center;
  color:yellow;
  font-size: 30px;
}